<form class="login-form">
  <p class=title>Login</p>
  <div class="container">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div class=mt-1>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class=mt-2>
      <button type="submit">Login!</button>
    </div>
    <div class="mt-1"><a id="sign-up-link">Sign-up instead</a></div>
  </div>
</form>

<form style="display:none" class="signup-form">
  <p class=title>Sign Up</p>
  <div class="container">
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div class=mt-1>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div class=mt-2>
      <button type="submit">Sign Up!</button>
    </div>
    <div class="mt-1"><a id="login-link">Login instead</a></div>
  </div>
</form>

<script src="/javascript/login.js"></script>